        /* Basic CSS styling for illusion purposes */
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
        }

        form{
            max-width: auto;
            margin: auto;
        }

        label {
            display: block;
            margin-bottom: 8px; 
        }

        input
        select,
        textarea {
            width: 50%;
            padding: 8px;
            margin-bottom: 16px;
        }
        header, main, aside, footer {
            padding: 20px;
            text-align: left;
            background-color: grey;
            color: white;           
        }
        .container
        {
            display: flex;
            max-width: auto;
            margin: auto;

        }
        main{
            flex: 2;
        }

        aside{
            flex: 1;
            border-left: 1px solid bisque;
            background-color: rgb(13, 12, 12);
        }

        .flex-container{
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        
        .flex-item{
            background-color: rgb(255, 0, 0);
            color: white;
            padding: 10px;
            margin: 5px;
        }
        
        .grid-container{
            display: grid;
            grid-template-columns: repeat(3, lfr);
            grid-gap: 10px;
        }
        
        .grid-item{
            background-color: rgb(77, 23, 215);
            color: white;
            padding: 20px;
            text-align: center;
        }

        .content{
            background-color: rgb(16, 138, 246);
            padding: 20px;
            text-align: center;
        }

        #heading{
            color: blueviolet;            
        }

        #description{
            color: blue;
        }

        @media screen and (max-width: 768px) {
            #heading{
                font-size: 24px;
            }
        }

        #description{
            font-size: 16px;
        }

        @media screen and (max-width: 488px) {
            #heading{
                font-size: 28px;
            }            
        }

        #description{
            font-size: 14px;
        }

        @media screen and (max-width: 300px) {
            #heading{
                font-size: 10px;
            }            
        }

        #description{
            font-size: 10px;
        }

        .container 
        {
            width: 100%;
            height: 400px;
            background-color: #f0f0f0;
        }
        